<?xml version="1.0"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheResult="true"
        cacheResultFile=".phpunit/result.cache"
        verbose="true"
>
    <testsuites>
        <testsuite name="Unit-Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true"
    >
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Attribute</directory>
            <file>src/functions.php</file>
        </exclude>
        <report>
            <html outputDirectory=".phpunit/coverage" lowUpperBound="50" highLowerBound="90" />
        </report>
    </coverage>
</phpunit>